@model IEnumerable<INFPROGX.Models.Order>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>@ViewBag.Message</h1>
        @foreach(var item in Model) {
           <b>Order Id: </b>@item.OrderId;<br />
           <b>Order date: </b>@item.Date;<br />
           @Html.ActionLink("Show Detail", "Detail", new { id = item.OrderId }) <br /><br />      
        }

    </div>
</body>
</html>
