@{
    ViewBag.Title = "ShowOrderProd";
}
@model IEnumerable<INFPROGX.ViewModels.ProductCount>
<h2>ShowOrderProd</h2>
<h2>@ViewBag.Message</h2>
<h4>You bought:</h4>
@foreach(var item in Model){
    @item.Product.Name
    @Html.Raw(" x")
    @item.Count <br />
}
