@{
    ViewBag.Title = "ShowOrderProd";
}
@model IEnumerable<INFPROGX.Models.ViewModel>
<h2>ShowOrderProd</h2>
<h2>@ViewBag.Message</h2>
@foreach(var item in Model){
    Html.Raw("Html.DisplayFor(mod => OrderData.ProductId )");
   @item.OrderData.ProductId <br />
}
