@model INFPROGX.Models.Order
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        THANK YOU, YOUR ORDER WITH ORDERNUMBER @(Model.OrderId) IS RECEIVED<br />
        <!--@foreach(INFPROGX.Models.OrderLine ord in Model.OrderLines)
        {
            @ord.ProductId;
        }-->
    </div>
</body>
</html>
