@model INFPROGX.ViewModels.TotalProduct
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Message</h2>
        Totaal prijs @Html.DisplayFor(model => model.TotalPrice)
        @Model.TotalPrice
    </div>
</body>
</html>
